
@import 'config';


.settings {

    &.hidden {
        display: none;
    }
    &.transitionOut {
        @include fade-out;
    }

    position: fixed;
    top: 0;
    left: 0;
    @include flex(column, flex-start, stretch);
    padding: 20px 10px;

    width: unquote('calc(100vw - 40px)');
    max-width: 1000px;
    height: 94vh;
    margin: 3vh 3vw;
    @include largeScreenMargin();
    @include fadeInEffect();

    z-index: 1000;
    background-color: #ecf0f1;

    border-radius: 20px;

    &__closebtn {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 100;

        @extend %btn;
        box-shadow: none;
        @include font('roboto', 3rem, red, center, 'regular');
    }

    &__title {
        @include font('roboto', 4.5rem, black, center, 'bold');
    }
    &__sizeEstimateMsg {
        @include font('roboto', 1.8rem, grey, center, 'light');

        &__value {
            color: red;
        }
    }

    &__version {
        @include font('roboto', 1.3rem, grey, center, 'light');
    }

    &__wrapper {
        @include flex(column, flex-start, center);
        margin: 20px 5px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__category {
        padding: 5px;
        margin: 15px 0px;
        background-color: rgb(228, 228, 228);
        border-radius: 10px;
        box-shadow: 0px -5px 0px 0px darken(white, 20%);
        width: unquote(' max(90%, 250px) ');

        &__title {
            @include font('roboto', 2.5rem, rgb(87, 87, 87), center, 'bold');
            z-index: 1;
        }
    }

    &__savedel {
        &__wrapper {
            @include flex(row, center, center);
        }
        &__div {
            text-align: center;
            margin: 15px 0;

            label {
                @include font('roboto', 1.5rem, grey, center, 'black');
            }

            &:first-child button {
                box-shadow: 0px 5px 0px 0px darken($btn-primary-bg, 10%);
                background-color: $btn-primary-bg !important;
            }
            &:nth-child(2) button {
                box-shadow: 0px 5px 0px 0px darken($btn-success-bg, 10%);
                background-color: $btn-success-bg !important;
            }
            &:nth-child(3) button {
                box-shadow: 0px 5px 0px 0px darken($btn-danger-bg, 10%);
                background-color: $btn-danger-bg !important;
            }
        }
        &__btn {
            @extend %btn;
            margin: 5px;
            @include font('roboto', 3.5rem, white, center, 'regular');
            padding: 10px;
            border-radius: 10px;
            &:hover, &:focus {
                transform: translateY(5px);
                box-shadow: none !important;
            }
        }
        
    }

    &__general {

        &__wrapper {
            padding: 10px;
            @include flex(row, space-around, center);
            
            & > div {
                @include flex(column, center, stretch);
            }
        }
        &__select {
            @include selectHTML(1.5rem);
        }
        &__subtitle {
            @include font('roboto', 2.3rem, rgb(87, 87, 87), center, 'bold');
            margin: 5px 0;
        }
    }

    &__gridProps {
        text-align: center;

        &__wrapper {
            padding: 10px;
            @include flex(row, space-around, flex-end);
        }

        &__inputGroup {
            @include flex(column, flex-start, center);

            label {
                @include font('roboto', 1.5rem, black, center, 'bold');
            }
            
            input {
                @include selectHTML(1.2rem);
                width: 95%;
                padding: 5px 5px;
            }
        }

        &__preview {
            margin: auto;
            @include flex(column, center, center);
            background-color: #e74c3c;
            @include font('roboto', initial, white, center, 'regular');
        }
    }

    &__noSessions {
        text-align: center;
        &__select {
            @include selectHTML(1.5rem);
        }
    }
}



//============================
// MEDIA QUERIES 
//============================
// On smaller screen, I simply make some of the font size to be smaller
@media screen and (max-width: 500px) {
    .settings {
        &__title {
            font-size: 3.5rem;
        }

        &__sizeEstimateMsg {
            font-size: 1.5rem;
        }

        &__category__title {
            font-size: 2rem;
        }

        &__general__subtitle {
            font-size: 1.3rem;
        }
    }
}